<main class="footer__main">
    <div class="footer__sm">
        <h5 class="footer__sm__title footer-title">
            Follow US:
        </h5>
        <div class="footer__sm__list">
            <div class="footer__sm__list__item">
                <a href="#">be</a>
            </div>
            <div class="footer__sm__list__item">
                <a href="#">in</a>
            </div>
            <div class="footer__sm__list__item">
                <a href="#">dr</a>
            </div>
            <div class="footer__sm__list__item">
                <a href="#">up</a>
            </div>
        </div>
    </div>
    <div class="footer__contacts">
        <h5 class="footer__contacts__title footer-title">
            We open to work with you
        </h5>
        <div class="footer__contacts__list">
            <div class="footer__contacts__list__item">
                <a href="tel:+4915213202162">+4915213202162</a>
            </div>
            <div class="footer__contacts__list__item">
                <a href="mailto:infinity888agency@gmail.com">infinity888agency@gmail.com</a>
            </div>
        </div>
    </div>
</main>
<button class="footer__presentation-btn">
    <div class="footer__presentation-btn__text-wrapper">
        <p>download presentation</p>
    </div>
    <div class="footer__presentation-btn__svg-wrapper">
        <svg width="84" height="84" viewBox="0 0 48 48" fill="#F0FC66" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="#fff"/>
            <path d="M25.2857 13H22.7143V15.5143H25.2857V13Z" fill="currentColor"/>
            <path d="M22.7143 17.5048H25.2857V29.9714H22.7143V17.5048Z" fill="currentColor"/>
            <path d="M17.5714 24.9429H15V27.4572H17.5714V29.9714H20.1428V27.4571L17.5714 27.4572L17.5714 24.9429Z" fill="currentColor"/>
            <path d="M33 24.9429H30.4286V27.4571H27.8572V29.9714H30.4286L30.4286 27.4571L33 27.4572V24.9429Z" fill="currentColor"/>
            <path d="M27.8572 29.9714H25.2857H22.7143V32.4857V35H25.2857V32.4857L27.8571 32.4857L27.8572 29.9714Z" fill="currentColor"/>
            <path d="M22.7143 29.9714H20.1428L20.1428 32.4857L22.7143 32.4857V29.9714Z" fill="currentColor"/>
        </svg>
    </div>
</button>