<div class="nav__logo">
    <a href="#top">
        <img src="./assets/logo.svg" alt="Infinity digital agency">
    </a>
    <button class="nav__logo__cancel">
        <img src="./assets/icons/cancel.svg" alt="cancel">
    </button>
</div>
<div class="nav__panel">
    <nav class="nav__panel__list">
        <a href="#about">about</a>
        <a href="#cases">case studies</a>
        <a href="#services">services</a>
        <a href="#contacts">contact us</a>
    </nav>
    <div class="nav__panel__lang-switch">
        <div class="nav__panel__lang-switch__title">
            <span>en</span>
            <i><img src="../assets/icons/lang arrow.svg"></i>
        </div>
        <div class="nav__panel__lang-switch__list">
            <div class="nav__panel__lang-switch__list__item lang-switch__selected">en</div>
            <div class="nav__panel__lang-switch__list__item">de</div>
            <div class="nav__panel__lang-switch__list__item">fr</div>
            <div class="nav__panel__lang-switch__list__item">ua</div>
        </div>
    </div>
    <button onclick="window.location='#contacts'" class="nav__panel__btn action-button">
        <a href="#contacts">
            Let's talk
            <i class="nav__panel__btn__wrapper">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentFill" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.12774 11.8527L4.14756 12.8725L5.14471 11.8753L4.12489 10.8555L3.12774 11.8527Z" fill="currentColor"/>
                    <path d="M5.93415 11.0859L4.91433 10.0661L9.85853 5.12189L10.8784 6.14171L5.93415 11.0859Z" fill="currentColor"/>
                    <path d="M10.9237 10.1756L11.9435 11.1955L12.9407 10.1983L11.9209 9.17849L12.918 8.18137L11.8982 7.16155L10.901 8.1587L11.9209 9.17849L10.9237 10.1756Z" fill="currentColor"/>
                    <path d="M4.8048 4.05673L5.82462 5.07655L6.82175 4.07942L7.84156 5.09923L8.83872 4.10208L7.8189 3.08226L6.82175 4.07942L5.80196 3.05957L4.8048 4.05673Z" fill="currentColor"/>
                    <path d="M8.83872 4.10208L9.85853 5.12189L10.8784 6.14171L11.8755 5.14453L12.8727 4.14738L11.8529 3.12756L10.8557 4.12471L9.83592 3.10492L8.83872 4.10208Z" fill="currentColor"/>
                    <path d="M10.8784 6.14171L11.8982 7.16155L12.8954 6.16437L11.8755 5.14453L10.8784 6.14171Z" fill="currentColor"/>
                </svg>
            </i>
        </a>
    </button>
    <button class="nav__panel__menu-icon">
        <img src="./assets/icons/menu.svg" alt="menu">
    </button>
</div>