<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single case</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="case-wrappper">
        <!-- <div class="nav"></div> -->
        <div class="case-head header__subheader">
            <div class="header__subheader__left">
                <div class="single-case__title">Website for Architectural Büro</div>
                <div class="single-case__tags">cocept - Branding - web site - developing</div>
            </div>
            <div class="header__subheader__right">
                <div class="header__subheader__right__awwwards">
                    <a target="_blank" href="https://www.red-dot.org/de/project/creative-trends-2023-66603"><img src="./assets/reddot.png" alt="reddot" class="reddot"></a>
                    <a target="_blank" href="https://www.awwwards.com/sites/creative-trends-2023"><img src="./assets/awwward.png" alt="" class="awwwards"></a>
                </div>
                <a href="#cases" tabindex="1">
                    <button class="header__subheader__right__btn action-button">
                        <p>more details</p>
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="currentFill" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="currentColor"/>
                            <path d="M25.2857 13H22.7143V15.5143H25.2857V13Z" fill="currentColor"/>
                            <path d="M22.7143 17.5048H25.2857V29.9714H22.7143V17.5048Z" fill="currentColor"/>
                            <path d="M17.5714 24.9429H15V27.4572H17.5714V29.9714H20.1428V27.4571L17.5714 27.4572L17.5714 24.9429Z" fill="currentColor"/>
                            <path d="M33 24.9429H30.4286V27.4571H27.8572V29.9714H30.4286L30.4286 27.4571L33 27.4572V24.9429Z" fill="currentColor"/>
                            <path d="M27.8572 29.9714H25.2857H22.7143V32.4857V35H25.2857V32.4857L27.8571 32.4857L27.8572 29.9714Z" fill="currentColor"/>
                            <path d="M22.7143 29.9714H20.1428L20.1428 32.4857L22.7143 32.4857V29.9714Z" fill="currentColor"/>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        <div class="case-task">
            <div class="case-task__head">task</div>
            <div class="case-task__info">
                <ul class="case-task__info__tasks">
                    <li>branding</li>
                    <li>logo</li>
                </ul>
                
            </div>
        </div>
        <!-- <div class="contacts"></div>
        <footer class="footer"></footer> -->
    </div>
</body>
<script src="../scripts/main.js"></script>
<script src="../scripts/mail-form.js"></script>
</html>