<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single case</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div class="case-hero-wrapper">
        <div class="case-wrappper">
            <div class="nav"></div>
        </div>
        <div class="case-hero">
            <div class="bypass"></div>
            <img src="../assets/karin brow/hero image.png" alt="">
        </div>
    </div>
    <div class="case-wrappper">
        <div class="case-head header__subheader">
            <div class="header__subheader__left">
                <div class="single-case__title">Website for Architectural Büro</div>
                <div class="single-case__tags">cocept - Branding - web site - developing</div>
            </div>
            <div class="header__subheader__right">
                <div class="header__subheader__right__awwwards">
                    <a 
                        target="_blank" 
                        href="https://www.red-dot.org/de/project/creative-trends-2023-66603"><img
                        src="../assets/reddot.png" 
                        alt="reddot" 
                        class="reddot">
                    </a>
                    <a 
                        target="_blank"
                        href="https://www.awwwards.com/sites/creative-trends-2023"><img
                        src="../assets/awwward.png" 
                        alt="" 
                        class="awwwards">
                    </a>
                </div>
                <a href="#cases" tabindex="1">
                    <button class="header__subheader__right__btn action-button">
                        <p>more details</p>
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="currentFill"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="currentColor" />
                            <path d="M25.2857 13H22.7143V15.5143H25.2857V13Z" fill="currentColor" />
                            <path d="M22.7143 17.5048H25.2857V29.9714H22.7143V17.5048Z" fill="currentColor" />
                            <path
                                d="M17.5714 24.9429H15V27.4572H17.5714V29.9714H20.1428V27.4571L17.5714 27.4572L17.5714 24.9429Z"
                                fill="currentColor" />
                            <path
                                d="M33 24.9429H30.4286V27.4571H27.8572V29.9714H30.4286L30.4286 27.4571L33 27.4572V24.9429Z"
                                fill="currentColor" />
                            <path
                                d="M27.8572 29.9714H25.2857H22.7143V32.4857V35H25.2857V32.4857L27.8571 32.4857L27.8572 29.9714Z"
                                fill="currentColor" />
                            <path d="M22.7143 29.9714H20.1428L20.1428 32.4857L22.7143 32.4857V29.9714Z"
                                fill="currentColor" />
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        <div class="demo-text-block">
            <div class="demo-text-block__head">task</div>
            <div class="demo-text-block__info">
                <ul class="demo-text-block__info__tasks">
                    <li>branding</li>
                    <li>logo</li>
                </ul>
                <div class="demo-text-block__info__description">
                    <p class="highlighted">
                        Оновлення стилістику бренду та створення адаптивного веб сайту для залучення нової цільової
                        аудиторії.
                    </p>
                    <p>
                        Ми запропонували нову кольорову палітру та спростили логотип бренду, щоб лого нагадувало
                        технічний елемент, план зверху та група будівель з боку.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/karin brow/image 1.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 2.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 3.png" alt="" class="case-image">
    <div class="case-wrappper">
        <div class="demo-text-block web-site-descr">
            <div class="demo-text-block__info">
                <ul class="demo-text-block__info__tasks">
                    <li>web site</li>
                </ul>
                <div class="demo-text-block__info__description">
                    <p>
                        Для того щоб створити підкреслити діяльність компанії ми створили стилістику яка нагадує
                        креслярські документи на папері. Оживили сайт легкою анімаціює та оптимізували всі сторінки.
                        <br> <br>
                        Створили акцент на логіці, поступовій розповіді про компанію з фактами, цифрами, галереєю робіт
                        та швидкою контактною формою.
                        <br> <br>
                        Логіка, зручність та зрозумілість навігації елементів - допомагає користувачу легко
                        зорієнтуватися в розміщенні та перегляді портфоліо та з якими видами бізнесу і для кого компанія
                        розробляє проекти в сфері будівництва.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/karin brow/image 4.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 5.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 6.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 7.png" alt="" class="case-image">
    <div class="case-double-image">
        <div class="case-double-image__slot">
            <img src="../assets/karin brow/image 8.png" alt="">
        </div>
        <div class="case-double-image__slot">
            <img src="../assets/karin brow/image 9.png" alt="">
        </div>
    </div>
    <img src="../assets/karin brow/image 10.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 11.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 12.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 13.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 14.png" alt="" class="case-image">
    <img src="../assets/karin brow/image 15.png" alt="" class="case-image">
    <div class="case-wrappper">
        <div class="demo-text-block result">
            <div class="demo-text-block__info">
                <ul class="demo-text-block__info__tasks">
                    <li>results</li>
                    <li>
                        <p>
                            Створили впізнаваний бренд та побудували стратегію комунікації через сайт та додаткових
                            джерел:
                            участь у конференціях та презентації, соціальні медіа - лінкедін, фейсбук, інстаграм.
                        </p>
                    </li>
                </ul>
                <div class="demo-text-block__info__description">
                    <p>
                        Створили впізнаваний бренд та побудували стратегію комунікації через сайт та додаткових джерел:
                        участь у
                        конференціях та презентації, соціальні медіа - лінкедін, фейсбук, інстаграм.
                        <br> <br>
                        Понад <b>23 200 нових користувачів</b> відвідали сайт і декілька стали партнерами та клієнтами
                        компанії. Майже
                        135 стали потенційними клієнтами і 2% з них стали справжніми клієнтами.
                        <br> <br>
                        Ми досягли загального рейтингу клікабельності 1,2% більше ніж на минулій версії сайту. Отримали
                        високий
                        результат в комбініції: активні продажі через презентацію та детальне ознайомлення з сайтом.
                        <br> <br>
                        Окріс цього ми активували пасивні соціальні мережі завдяки статичним креативам та
                        відеокреативам.
                        Створили презентацію яка взяла на себе більше 39% активної та точкової комунікації з клієнтами.
                    </p>
                </div>
            </div>
        </div>
        <div class="statistics">
            <ul class="statistics__head">
                <li>відвідування вeб сайту</li>
                <li>Нова версія</li>
                <li>Минула версія</li>
            </ul>
            <ul class="statistics__row">
                <li class="statistics__row__title">
                    кількість <br>
                    відвідувань
                </li>
                <li class="statistics__row__data">23 2034</li>
                <li class="statistics__row__data">17 374</li>
            </ul>
            <ul class="statistics__row">
                <li class="statistics__row__title">
                    Кількість зацікавлених <br>
                    користувачів
                </li>
                <li class="statistics__row__data">135</li>
                <li class="statistics__row__data">28</li>
            </ul>
            <ul class="statistics__row">
                <li class="statistics__row__title">
                    відсоток <br>
                    клікабельності
                </li>
                <li class="statistics__row__data">26% </li>
                <li class="statistics__row__data">14%</li>
            </ul>
            <ul class="statistics__row">
                <li class="statistics__row__title">
                    залучення соціальних <br>
                    мереж
                </li>
                <li class="statistics__row__data">21%</li>
                <li class="statistics__row__data">6%</li>
            </ul>
        </div>
        <div class="awards">
            <div class="awards__info">
                <div class="awards__info__title">Нагороди</div>
                <p class="awards__info__descr">
                    Створили впізнаваний бренд та побудували стратегію комунікації через сайт та 
                </p>
            </div>

            <div class="awards__item">
                <img src="../assets/head black.png" alt="">
            </div>
        </div>
    </div>
    <div class="case__transition">
        <div class="case__transition__prev">
            <div class="case__transition__prev__image">
                <img src="../assets/cases covers/image (1).png" alt="">
            </div>
            <div class="case__transition__prev__descr">
                <div class="case__transition__prev__descr__title">The Application for quick gallery search</div>
                <button class="case__transition__prev__descr__btn">
                    <i>
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="white"/>
                            <path d="M35 22.7143L35 25.2857L32.4857 25.2857L32.4857 22.7143L35 22.7143Z" fill="currentColor"/>
                            <path d="M30.4952 25.2857L30.4952 22.7143L18.0286 22.7142L18.0286 25.2857L30.4952 25.2857Z" fill="currentColor"/>
                            <path d="M23.0571 30.4286L23.0571 33L20.5428 33L20.5428 30.4286L18.0286 30.4286L18.0286 27.8572L20.5429 27.8572L20.5428 30.4286L23.0571 30.4286Z" fill="currentColor"/>
                            <path d="M23.0571 15L23.0571 17.5714L20.5429 17.5714L20.5429 20.1428L18.0286 20.1428L18.0286 17.5714L20.5429 17.5714L20.5428 15L23.0571 15Z" fill="currentColor"/>
                            <path d="M18.0286 20.1428L18.0286 22.7142L18.0286 25.2857L15.5143 25.2857L13 25.2857L13 22.7142L15.5143 22.7142L15.5143 20.1429L18.0286 20.1428Z" fill="currentColor"/>
                            <path d="M18.0286 25.2857L18.0286 27.8572L15.5143 27.8572L15.5143 25.2857L18.0286 25.2857Z" fill="currentColor"/>
                        </svg>
                    </i>
                    <p>prev<span>ious</span></p>
                </button>
            </div>
        </div>
        <span class="case__transition__border"></span>
        <div class="case__transition__next">
            <div class="case__transition__next__descr">
                <div class="case__transition__next__descr__title">Hidden Messages in children’s books</div>
                <button class="case__transition__next__descr__btn">
                    <p>next</p>
                    <i>
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="white"/>
                            <path d="M35 22.7143L35 25.2857L32.4857 25.2857L32.4857 22.7143L35 22.7143Z" fill="currentColor"/>
                            <path d="M30.4952 25.2857L30.4952 22.7143L18.0286 22.7142L18.0286 25.2857L30.4952 25.2857Z" fill="currentColor"/>
                            <path d="M23.0571 30.4286L23.0571 33L20.5428 33L20.5428 30.4286L18.0286 30.4286L18.0286 27.8572L20.5429 27.8572L20.5428 30.4286L23.0571 30.4286Z" fill="currentColor"/>
                            <path d="M23.0571 15L23.0571 17.5714L20.5429 17.5714L20.5429 20.1428L18.0286 20.1428L18.0286 17.5714L20.5429 17.5714L20.5428 15L23.0571 15Z" fill="currentColor"/>
                            <path d="M18.0286 20.1428L18.0286 22.7142L18.0286 25.2857L15.5143 25.2857L13 25.2857L13 22.7142L15.5143 22.7142L15.5143 20.1429L18.0286 20.1428Z" fill="currentColor"/>
                            <path d="M18.0286 25.2857L18.0286 27.8572L15.5143 27.8572L15.5143 25.2857L18.0286 25.2857Z" fill="currentColor"/>
                        </svg>                                
                    </i>
                </button>
            </div>
            <div class="case__transition__next__image">
                <img src="../assets/cases covers/image (2).png" alt="">
            </div>
        </div>
    </div>
    <div class="case-wrappper">
        <div class="case__similar-projects">
            <div class="case__similar-projects__title">Projects alike</div>
            <div class="case__similar-projects__list">
                <div class="cases__item">
                    <img src="./assets/cases covers/case-hover.png" alt="" class="cover">
                    <img src="../assets/cases covers/image (1).png" alt="Сreatve trends 2023 annual research of Depositphotos"
                        class="cases__item__cover">
                    <div class="cases__item__title">Сreative trends 2023 annual research of Depositphotos</div>
                    <div class="cases__item__tag">cocept - web site - developing</div>
                </div>
                <div class="cases__item">
                    <img src="./assets/cases covers/case-hover.png" alt="" class="cover">
                    <img src="../assets/cases covers/image(9).png"
                        alt="Easy fintess club - web site for german net of Ftness Studios" class="cases__item__cover">
                    <div class="cases__item__title">Easy fintess club - web site for german net of Ftness Studios</div>
                    <div class="cases__item__tag">cocept - web site - developing</div>
                </div>
                <div class="cases__item">
                    <img src="./assets/cases covers/case-hover.png" alt="" class="cover">
                    <img src="../assets/cases covers/image (2).png" alt=""
                        class="cases__item__cover">
                    <div class="cases__item__title">The Application for quick gallery search</div>
                    <div class="cases__item__tag">application - branding - developing</div>
                </div>
                <div class="cases__item">
                    <img src="./assets/cases covers/case-hover.png" alt="" class="cover">
                    <img src="../assets/cases covers/image (3).png" alt=""
                        class="cases__item__cover">
                    <div class="cases__item__title">Website for an Architectural Büro</div>
                    <div class="cases__item__tag">cocept - web site - developing</div>
                </div>
            </div>
        </div>
        <div class="contacts"></div>
        <footer class="footer"></footer>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js'></script>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/mail-form.js"></script>
    <script src="../scripts/animations.js"></script>
</body>
</html>