.case-wrappper {
    padding: 0 40px;
    border: 0.1px solid transparent;
    background: #fff;
}

.case-wrappper .nav {
    margin-bottom: 0;
}

.case-wrappper .footer {
    margin-bottom: 40px;
}

.case-hero {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.case-hero img {
    object-fit: contain;
    aspect-ratio: 100/54;
    width: 50%;
}

.case-head {
    background: #fff;
}

.single-case__title {
    color: #000;
    margin-top: 40px;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -5%;
}

.single-case__tags {
    margin-top: 24px;
    padding: 8px;
    font-family: Minecraft;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -3%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: fit-content;
}

.case-head.header__subheader {
    margin-bottom: 80px;
}

.case-image {
    width: 100%;
    display: block;
    margin-bottom: -2px;
    user-select: none;
    aspect-ratio: 192/128;
}

.web-site-descr {
    margin: 80px 0;
}

.case-double-image {
    display: flex;
    width: 100%;
    background:#979797;
}

.case-double-image .case-double-image__slot {
    flex: 0 50%;
    overflow: hidden;
    padding: 313px 40px;
}

.case-double-image .case-double-image__slot img {
    width: 100%;
    height: 100%;
}

.result {
    margin-top: 80px;
    margin-bottom: 24px;
}

.result .demo-text-block__info {
    gap: 40px;
}

.result .demo-text-block__info__tasks,
.result .demo-text-block__info__description {
    flex: initial;
}

.result .demo-text-block__info__tasks {
    min-width: 580px;
    max-width: 580px;
}

.result .demo-text-block__info__tasks li p {
    margin-top: 64px;
    font-weight: 600;
    text-transform: none;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    margin-right: 40px;
}

.result .demo-text-block__info__description {
    width: 640px;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-bottom: 64px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 24px 0;
}

.statistics__head {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.02em;
}

.statistics__head,
.statistics__row {
    display: flex;
    gap: 40px;
}

.statistics__head li,
.statistics__row li {
    width: 100%;
}

.statistics__row__data {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    letter-spacing: -5%;
}

.statistics__row__title {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    font-weight: 600;
}

.awards {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-bottom: 120px;
    overflow-x: scroll;
}

.awards::-webkit-scrollbar {
    display: none;
}

.awards__info {
    width: 580px;
}

.awards__info__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
}

.awards__info__descr {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
}

.awards__item {
    min-width: 240px;
    max-width: 240px;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.awards__item img {
    object-fit: contain;
}

.case__transition {
    display: flex;
}

.case__transition__prev,
.case__transition__next {
    width: 100%;
    display: flex;
    max-width: 50vw;
    padding: 80px 80px 88px 80px;
    gap: 64px;
    background: #000;
    color: #fff;
}

.case__transition__prev__image img,
.case__transition__next__image img {
    width: 240px;
    aspect-ratio: 3/4;
}

.case__transition__prev__descr,
.case__transition__next__descr {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.case__transition__next__descr__title,
.case__transition__prev__descr__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2%;
}

.case__transition__prev__descr__btn,
.case__transition__next__descr__btn {
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 19px;
    color: #fff;
    background: #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -5%;
    text-transform: uppercase;
    border: 2px solid #000;
    transition: all 0.4s ease;
    border-radius: 83px;
    padding: 20px;
}

.case__transition__prev__descr__btn i svg,
.case__transition__next__descr__btn i svg {
    transition: all 0.4s ease;
}

@media (hover: hover) {
    .case__transition__prev__descr__btn:hover,
    .case__transition__next__descr__btn:hover {
        border: 2px solid #fff;
        cursor: pointer;
    }

    .case__transition__prev__descr__btn:hover i svg,
    .case__transition__next__descr__btn:hover i svg {
        color: #000;
        fill: #fff;
    }
}


.case__transition__prev__descr__btn {
    align-self: end;
    padding: 8px 32px 8px 8px;
}

.case__transition__next__descr__btn {
    padding: 8px 8px 8px 32px;
}

.case__transition__prev__descr__btn i,
.case__transition__next__descr__btn i {
    width: 50px;
    height: 50px;
}

.case__transition__prev__descr__btn i svg,
.case__transition__next__descr__btn i svg {
    width: 100%;
    height: 100%;
}

.case__transition__next__descr__btn i {
    transform: rotate(180deg);
}

.case__transition__border {
    min-width: 1px;
    min-height: 100%;
    display: block;
    background: #fff;
}

.case__transition__next {
    background: #000;
    color: #fff;
}

.case__similar-projects {
    margin-top: 100px;
    margin-bottom: 140px;
}

.case__similar-projects__list {
    width: 100%;
    display: flex;
    gap: 24px;
}

.case__similar-projects__list .cases__item {
    width: 100%;
}

.case__similar-projects__title {
    font-family: Minecraft;
    font-size: 100px;
    line-height: 90px;
    font-weight: 400;
    letter-spacing: -7%;
}


.case__similar-projects .cases__item {
    align-self: end;
}

.case__similar-projects .cases__item:nth-child(1) {
    margin-bottom: 19px;
}
 
.case__similar-projects .cases__item:nth-child(2) {
    margin-bottom: 3px;
}
 
.case__similar-projects .cases__item:nth-child(3) {
    margin-bottom: 16px;
}
 
.case__similar-projects .cases__item:nth-child(4) {
    margin-bottom: 0;
}

@media (max-width: 1680px) {
    .case-double-image .case-double-image__slot {
        padding: 278px 40px;
    }
} 

@media (max-width: 1440px) {
    .result .demo-text-block__info__tasks {
        min-width: 500px;
        max-width: 500px;
    }

    .awards__info {
        width: 500px;
    }

    .case__transition__next__descr__title,
    .case__transition__prev__descr__title {
        font-size: 32px;
        line-height: 32px;
    }

    .case-double-image .case-double-image__slot {
        padding: 243px 40px;
    }
}

@media (max-width: 1440px) {
    .case-double-image .case-double-image__slot {
        padding: 218px 40px;
    }
}

 
@media (max-width: 1080px) {
    .case-wrappper {
        padding: 0 24px;
    }

    .case-head.header__subheader {
        margin-bottom: 64px;
    }

    .case-hero {
        margin-bottom: 24px;
    }

    .case-hero img {
        width: 100%;
        height: 100%;
    }

    .case-wrappper .footer {
        margin-bottom: 24px;
    }

    .single-case__title {
        margin-top: 24px;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -3%;
    }

    .single-case__tags {
        margin-right: 16px;
    }

    .case-head .header__subheader__right__btn {
        font-size: 16px;
        line-height: 19.36px;
        align-items: center;
        padding: 4px 4px 4px 32px;
    }

    .case-head .header__subheader__right__btn svg {
        width: 40px;
        height: 40px;
    }

    .web-site-descr {
        margin: 40px 0;
    }

    .case-double-image .case-double-image__slot {
        padding: 80px 180px;
    }

    .case-double-image {
        flex-direction: column;
    }

    .result {
        margin-top: 40px;
    }

    .result .demo-text-block__info__tasks li p,
    .result .demo-text-block__info__description {
        font-size: 16px;
        line-height: 19.2px;
    }

    .result .demo-text-block__info__tasks {
        min-width: 300px;
        max-width: 300px;
    }

    .statistics__row__data {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -4%;
    }
    
    .statistics__row__title {
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: -2%;
    }

    .awards {
        margin-bottom: 80px;
    }
    
    .awards__info {
        width: 240px;
    }

    .awards__info__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 28.8px;
    }

    .awards__info__descr {
        font-size: 16px;
        line-height: 19.2px;
    }
    
    .awards__item {
        min-width: 140px;
        max-width: 140px;
    }

    .case__transition__prev {
        flex-direction: column;
        padding: 24px 24px 16px 24px;
        gap: 24px;
    }

    .case__transition__next {
        flex-direction: column-reverse;
        padding: 16px 24px 24px 24px;
        justify-content: space-between;
        gap: 24px;
    }

    .case__transition__prev__image img,
    .case__transition__next__image img {
        width: 140px;
        aspect-ratio: 7/9;
    }

    .case__transition__next__image {
        align-self: end;
    }

    .case__transition__next__descr__title,
    .case__transition__prev__descr__title {
        font-size: 22px;
        line-height: 22px;
    }

    .case__transition__prev__descr__btn,
    .case__transition__next__descr__btn {
        font-size: 18px;
        line-height: 21.6px;
    }

    .case__similar-projects {
        margin-bottom: 124px;
    }

    .case__similar-projects__title {
        font-size: 56px;
        line-height: 50.4px;
    }

    .case__similar-projects__list .cases__item {
        min-width: 320px;
    }
    .case__similar-projects__list .cases__item  img {
        height: 400px;
    }

    .case__similar-projects__list {
        overflow-x: scroll;
    }

    .case__similar-projects__list::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 720px) {
    .case__transition__prev,
    .case__transition__next {
        padding: 16px;
    }

    .case-double-image .case-double-image__slot {
        padding: 72px 100px;
    }
}

@media (max-width: 640px) {
    .case-wrappper {
        padding: 0 16px;
    }

    .case-head.header__subheader {
        margin-bottom: 0px;
    }

    .case-wrappper .footer {
        margin-bottom: 16px;
    }

    .case-head.header__subheader {
        flex-wrap: wrap;
        gap: 24px;
    }
    .header__subheader__left,
    .header__subheader__right {
        flex: 0 100%;
    }

    .case-head .header__subheader__left {
        border: none;
    }

    .case-hero {
        margin-bottom: 16px;
    }

    .web-site-descr {
        margin: 16px 0;
    }

    .result {
        margin-top: 16px;
    }

    .result .demo-text-block__info__tasks {
        min-width: 100%;
        max-width: initial;
        width: 100%;
    }

    .result .demo-text-block__info__description {
        width: 100%;
    }

    .statistics__head {
        font-size: 12px;
        line-height: 14.4px;
    }

    .statistics__row__data {
        font-size: 24px;
        line-height: 28.8px;
    }
    
    .statistics__row__title {
        font-size: 12px;
        line-height: 14.4px;
    }

    .awards {
        margin-bottom: 40px;
    }

    .awards__info__descr {
        font-size: 14px;
        line-height: 16.8px;
    }

    .case__transition__next__descr__title,
    .case__transition__prev__descr__title {
        font-size: 18px;
        line-height: 18px;
    }

    .case__transition__prev__descr__btn,
    .case__transition__next__descr__btn {
        font-size: 16px;
        line-height: 19.36px;
    }

    .case__transition__prev__descr__btn {
        padding: 4px 32px 4px 4px;
    }
    
    .case__transition__next__descr__btn {
        padding: 4px 4px 4px 32px;
    }

    .case__transition__prev__descr__btn i,
    .case__transition__next__descr__btn i {
        width: 40px;
        height: 40px;
    }

    .case__similar-projects {
        margin-bottom: 116px;
    }

    .case__similar-projects__title {
        font-size: 40px;
        line-height: 36px;
    }
}

@media (max-width: 560px) {
    .statistics__head,
    .statistics__row {
        gap: 16px;
    }

    .case__similar-projects {
        margin-top: 40px;
        margin-bottom: 56px;
    }

    .case-double-image .case-double-image__slot {
        padding: 24px 60px;
    }
}

@media (max-width: 400px) {
    .case__transition__prev__descr__btn span{
        display: none;
    }
}

@media (max-width: 360px) {
    .case__transition__prev__image img,
    .case__transition__next__image img {
        width: 108px;
        aspect-ratio: 27/35;
    }
    
    .case__similar-projects {
        margin-bottom: 40px;
    }
}