.case-wrappper {
    padding: 0 40px;
}

.single-case__title {
    color: #000;
    margin-top: 40px;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -5%;
}

.single-case__tags {
    margin-top: 24px;
    padding: 8px;
    font-family: Minecraft;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: -3%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: fit-content;
}

.case-head.header__subheader {
    margin-bottom: 80px;
}

.case-task {
    padding: 40px;
}

.case-task__head {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 80px;
    color: rgba(0, 0, 0, 0.5);
}

.case-task__info {
    display: flex;
}

.case-task__info__tasks {
    flex: 0 50%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
}

.case-task__info__description {
    flex: 0 50%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
}

.highlighted {
    font-weight: 600;
}