*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::after{
    pointer-events: none;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

html, body {
    height: 100%;
    min-width: 100px;
    scroll-behavior: smooth;
    behavior: smooth;
    -ms-behavior: smooth;
}

body {
    line-height: 1;
    font-family: Inter;
    color: #000;
    cursor: default;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p, figure {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

visually-hidden {
    position: fixed;
    transform: scale(0);
}

.wrapper {
    padding: 40px;
    position: relative;
}

@media (max-width: 720px) {
    .wrapper {
        padding: 40px 24px;
    }
}

@media (max-width: 640px) {
    .wrapper {
        padding: 40px 16px;
    }
}