@font-face {
    font-family: Inter;
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: Minecraft;
    src: url('./fonts/minecraft.ttf');
}

:root {
    --border: rgba(0, 0, 0, 0.5);
    --light-yellow: rgba(240, 252, 102, 1);
}